/*
 *  Typography
 *
 */

body {
  background: #fafafa;
  color: #333333;
  font-size: 16px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  color: #071410;
}

h1 {
  font-size: 48px;
  line-height: 72px;
}

h2 {
  font-size: 36px;
  line-height: 52px;
}

h2 a {
   color: #071410 !important;
}

h3 {
  font-size: 28px;
  line-height: 48px;
}

h4 {
  font-size: 24px;
  line-height: 36px;
}

h5, h6 {
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
}

h1, h2, h3, h4, h5, h6 {

}

p {
  font-size: 18px;
  line-height: 27px;
  margin: 12px 0;
}

hr {
  background: #EEE8D5;
  height: 4px;
  margin: 28px auto;
  border: none;
  width: 60%;
}

a {
  color: #c80f32;
  text-decoration: none;
  border-bottom: 1px #c80f32 dashed;
}

h1 a, h2 a {
    border-bottom: none;
}

.posts .title a {
  color: #c80f32;
}

.banner {
   border-top: 2px #ddd solid;
   margin-top: 0px !important;
}

.banner a {
   border-bottom: none;
   text-decoration: none;
}

.banner a:hover {
  color: #2e93cd;
  border-bottom:none;
  text-decoration:underline;
}

.posts .title a:hover, a:hover {
  color: #2e93cd;
  text-decoration: none;
  border-bottom: 1px solid;
}

pre, blockquote {
  border: none;
  border-radius: 0;
  padding: 12px;
  border-left: 4px solid #ccc;
  margin: 28px 0;
  background: none;
}

pre {
    padding: 2px;
}

pre {
    border: 1px solid #ccc;
    background: #fafafa;
}

pre, code {
  font-family: "Lucida Console", Menlo, Monaco, "Courier New", Courier, mono, monospace;
  font-size: 12px;
  line-height: 1.5em;
  color: #333;
  background: #fafafa;
}

blockquote {
  font-style: italic;
}

blockquote p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

li {
  font-size: 18px;
  line-height: 28px;
}

.posts input[type=text], .posts textarea {
  background: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  outline: none;
  width: 100%
}

.posts input[type=text]:focus {
  outline: none;
  box-shadow: none;
}

.posts input[type=text] {
  height: 52px;
  font-size: 36px;
  line-height: 52px;
  color: #859900;
  font-family: Georgia, Times New Roman, Times, serif;
}

.posts textarea {
  resize: none;
  margin-top: 28px;
  font-size: 18px;
  line-height: 28px;
  color: #657B83;
}

input[type=submit] {
  border: none;
  box-shadow: none;
}

.byline {
  font-size: 80%;
  text-align: right;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

/*
 * Components
 *
 */

.hidden {
  display: none !important;
}

a.btn, button.btn, input.btn {
  display: inline-block;
  padding: 14px;
  font-size: 16px;
  border: none;
  box-shadow: none;
}

a.btn-red, button.btn-red, input.btn-red {
  background: #dc322f;
}

a.btn-magenta, button.btn-magenta, input.btn-magenta {
  background: #d33682;
}

a.btn-blue, button.btn-blue, input.btn-blue {
  background: #268bd2;
}

a.btn-dark, button.btn-dark, input.btn-dark {
  background: #586e75;
}

a.btn-darkish, button.btn-darkish, input.btn-darkish {
  background: #657B83;
}

a.btn-blank, button.btn-blank, input.btn-blank {
  background: none;
}

a.btn-selected, a.btn-selected:hover, button.btn-selected, input.btn-selected {
  background: #859900 !important;
  color: #EEE8D5 !important;
}

a.btn-grey, button.btn-grey, input.btn-grey {

}

a.btn-small, button.btn-small, input.btn-small {
  padding: 6px;
  font-size: 14px;
  line-height: 100%;
}

a.btn-grey:hover, button.btn-grey:hover, input.btn-grey:hover {
  color: #fff;
}

a.btn-disabled, button.btn-disabled, input.btn-disabled {
  color: #ccc;
background:none;
cursor:default;
}

a.btn-disabled:hover, button.btn-disabled:hover, input.btn-disabled:hover {
  color: #ccc;
 background:none;
  cursor: default;
}

.btn:hover {
  background: #c80f32;
}

/*
 * Layout
 *
 */

body {
  overflow-x: hidden;
}

.meta {
  width: 100%;
  min-height: 30px;
  border-bottom:1px #ccc solid;
  background:#f1f1f1;
}

.meta span {
    display:none;
}

.meta .btn {
  margin-right: -4px;
  padding: 8px 14px;;
}

#disqus_thread {
  margin-top: 2em;
}

.dashboards .container {
  width: 100%;
}

.form .container {
  margin: 0 auto;
}

.install label, .install input {
  display: block;
}

.install input {
  margin: 14px 0 42px 0 !important;
}

.menu {
  padding: 28px;
  position: fixed;
  bottom: 0;
  left: 0;
}



.dashboards .menu {
  width: 100%;
  padding: 80px 28px 28px 28px;
  background: #FDF6E3;
  background: -moz-linear-gradient(top,  rgba(253,246,227,0) 0%, rgba(253,246,227,1) 25%, rgba(253,246,227,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,246,227,0)), color-stop(25%,rgba(253,246,227,1)), color-stop(100%,rgba(253,246,227,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(253,246,227,0) 0%,rgba(253,246,227,1) 25%,rgba(253,246,227,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(253,246,227,0) 0%,rgba(253,246,227,1) 25%,rgba(253,246,227,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(253,246,227,0) 0%,rgba(253,246,227,1) 25%,rgba(253,246,227,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(253,246,227,0) 0%,rgba(253,246,227,1) 25%,rgba(253,246,227,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fdf6e3', endColorstr='#fdf6e3',GradientType=0 ); /* IE6-9 */
}

.menu-holder .menu {
  position: static;
  float: left;
  padding-right: 0;
}

.menu-holder .right {
  float: right;
  padding-left: 0;
  padding-right: 28px;
  padding-top: 30px;
}

.menu-holder {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #FDF6E3;
  background: -moz-linear-gradient(top,  rgba(253,246,227,0) 0%, rgba(253,246,227,1) 25%, rgba(253,246,227,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,246,227,0)), color-stop(25%,rgba(253,246,227,1)), color-stop(100%,rgba(253,246,227,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(253,246,227,0) 0%,rgba(253,246,227,1) 25%,rgba(253,246,227,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(253,246,227,0) 0%,rgba(253,246,227,1) 25%,rgba(253,246,227,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(253,246,227,0) 0%,rgba(253,246,227,1) 25%,rgba(253,246,227,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(253,246,227,0) 0%,rgba(253,246,227,1) 25%,rgba(253,246,227,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fdf6e3', endColorstr='#fdf6e3',GradientType=0 ); /* IE6-9 */
}

.dashboards #welcome {
  text-align: center;
}

.dashboards #posts .btn {
  margin-left: 20px;
}

#login input[type=password], #login input[type=email],
.install input[type=password], .install input[type=text],
.dashboards input[type=text] {
  display: block;
  font-size: 18px;
  color: #657B83;
  line-height: 28px;
  border: none;
  box-shadow: none;
  width: 400px;
  margin: 28px 0;
  background: #EEE8D5;
  padding-left: 10px;
}

.dashboards input[type=text]:focus {
  outline: none;
  border: none;
}

/*Begin:Code Style*/

pre code {
    display: block; padding: 0.5em;
    background: #fff; color: black;
}

pre .comment,
pre .template_comment,
pre .javadoc,
pre .comment * {
    color: rgb(0,106,0);
}

pre .keyword,
pre .literal,
pre .nginx .title {
    color: rgb(170,13,145);
}
pre .method,
pre .list .title,
pre .tag .title,
pre .setting .value,
pre .winutils,
pre .tex .command,
pre .http .title,
pre .request,
pre .status {
    color: #008;
}

pre .envvar,
pre .tex .special {
    color: #660;
}

pre .string {
    color: rgb(196,26,22);
}
pre .tag .value,
pre .cdata,
pre .filter .argument,
pre .attr_selector,
pre .apache .cbracket,
pre .date,
pre .regexp {
    color: #080;
}

pre .sub .identifier,
pre .pi,
pre .tag,
pre .tag .keyword,
pre .decorator,
pre .ini .title,
pre .shebang,
pre .input_number,
pre .hexcolor,
pre .rules .value,
pre .css .value .number,
pre .symbol,
pre .symbol .string,
pre .number,
pre .css .function,
pre .clojure .title,
pre .clojure .built_in {
    color: rgb(28,0,207);
}

pre .class .title,
pre .haskell .type,
pre .smalltalk .class,
pre .javadoctag,
pre .yardoctag,
pre .phpdoc,
pre .typename,
pre .tag .attribute,
pre .doctype,
pre .class .id,
pre .built_in,
pre .setting,
pre .params,
pre .clojure .attribute {
    color: rgb(92,38,153);
}

pre .variable {
    color: rgb(63,110,116);
}
pre .css .tag,
pre .rules .property,
pre .pseudo,
pre .subst {
    color: #000;
}

pre .css .class, pre .css .id {
    color: #9B703F;
}

pre .value .important {
    color: #ff7700;
    font-weight: bold;
}

pre .rules .keyword {
    color: #C5AF75;
}

pre .annotation,
pre .apache .sqbracket,
pre .nginx .built_in {
    color: #9B859D;
}

pre .preprocessor,
pre .preprocessor * {
    color: rgb(100,56,32);
}

pre .tex .formula {
    background-color: #EEE;
    font-style: italic;
}

pre .diff .header,
pre .chunk {
    color: #808080;
    font-weight: bold;
}

pre .diff .change {
    background-color: #BCCFF9;
}

pre .addition {
    background-color: #BAEEBA;
}

pre .deletion {
    background-color: #FFC8BD;
}

pre .comment .yardoctag {
    font-weight: bold;
}

pre .method .id {
    color: #000;
}

/*End:Code Style*/

/*Begin:Responsive*/

p.note {
  font-size: 0.8em;
  background: #fdfea3;
  padding: 1em;
  border: 1px #a8a8a8 solid;
  text-align: center;
}

.aboutme {
    float: right;
    width: 320px;
    margin-right: 60px;
}

.container {
    float: left;
    width: 620px;
    margin: 0 0 0 20px;
}

.byline {
    margin-bottom: 10em;
}

body {
    padding-top: 0;
    width: 1050px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.interviewz {
    font-size: 1em;
    margin-top:2em;
    background: #ffffee;
    padding: 0.5em;
    border: 1px #eeeeff solid;
    text-align: center;
}

.interviewz a {
    border-bottom: 0;
    color: #333333;
    text-decoration: underline;
}

.interviewz a:hover {
    border-bottom: 0;
    color: #2e93cd;
    text-decoration: underline;
}

.aboutme h1 {
    margin-top: 50px;
    margin-bottom: 0;
}

.aboutme p {
    margin-top: 1.3em;
    margin-bottom: 0.5em;
}

.aboutme ul {
    margin-top: 0;
}

.container h2 {
    margin-top: 27px
}

.menu.right {
    right: 0;
    left: inherit;
    width: 124px;
}

.topics {
    border-bottom: 0;
    text-decoration: underline;
}

@media (max-width:1050px) {
    body {
        width: auto;
    }

    .container {
        float: none;
        width: 650px;
        margin: 0 auto;

    }

    .aboutme {
        xdisplay:none;
        float: none;
        margin-left: 150px;
        width: 620px;

    }

    .aboutme .legend {
        width: 330px;
        float: left;
    }

    p.interviewz {
        float: left;
        width: 252px;
        margin-left: 20px;
        margin-top: 150px
    }

    .byline {
        margin-bottom: 0;
    }
}

@media (max-width:950px) {
    .container {
        float: none;
        width: 650px;
        margin: 0 auto;
    }

    .menu {
        padding: 0;
        padding-top: 2em;
        position: static
    }

    .menu.right {
        width: auto;
    }

    .menu.right a {
        display: block;
    }

    .legend h1 {
        margin-top: 0.5em;
    }
}

@media (max-width:820px) {
    p.interviewz {
        float: none;
        width: auto;
        margin-top: 0;
    }

    .container {
        width: auto;
        padding: 2em;
        padding-bottom: 0;
    }

    .aboutme {
        width: auto;
        margin: 2em;
    }

    .aboutme .legend {
        width: auto;
        float: none;
    }
}
